body {
  color: blue;
  font-size: 6rem;
}

.text-red {
  color: red;
}
.text-orange {
  color: orange;
}

.text-green {
  color: green;
}
.text-cyan {
  color: cyan;
}
.text-purple {
  color: purple;
}

.text-yellow {
  color: yellow;
}

#cupcake {
  color: fuchsia;
}
